<div class="container-fluid px-0  py-2 bg-success bg-opacity-25"  >
    <div class="container d-flex  flex-column justify-content-center">
        <h1 class="text-center fw-bold fs-1 my-5 ">Componente Hijo</h1>
        <div class="row d-flex justify-content-center pb-5">
            <div class="col-md-6 col-sm-8 col-xs-12 border__col bg-light rounded-5">
                <div class="container">
                    <div class="conatiner bg-light  p-3" role="alert">
                        <p class="fw-bold">Resultado:</p>
                        <p class="py-2">{{resultadoHijo | uppercase}}</p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>