<div class="container-fluid px-0  py-3 bg-success bg-opacity-50">
    <div class="container d-flex  flex-column justify-content-center">
        <h1 class="text-center fw-bold fs-1 my-5 ">Componente Hijo</h1>
        <div class="row d-flex justify-content-center pb-5">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <div class="container">
                    <div class="alert alert-warning mb-0" role="alert">
                        <p class="fw-bold">Resultado:</p>
                        <p></p>
                  </div>
                </div>
            </div>
        </div>
       
    </div>
</div>