<div class="container-fluid px-0  py-3 bg-primary bg-opacity-50">
    <div class="container d-flex  flex-column justify-content-center">
        <h1 class="text-center fw-bold fs-1 my-5 ">Componente Padre</h1>
        <div class="row d-flex justify-content-center pb-5">
            <div class="col-md-6 col-sm-8 col-xs-12 border border-primary">
                <form class="my-3 p-3" >
                    <div class="">
                      <label for="palabra" class="form-label fw-bold">Palabra</label>
                      <input type="text" class="form-control" id="palabra" name="palabra" placeholder="Escribe una palabra" >
                    </div>
                </form>
            </div>
        </div>
       
    </div>
</div>
<app-hijo></app-hijo>
