<div class="container px-0  py-3">
    <div class="container d-flex  flex-column justify-content-center">
        <h1 class="text-center fw-bold fs-1 my-5 ">DataBinding Actividad 2</h1>
        <div class="row d-flex justify-content-center pb-5">
            <div class="col-md-6 col-sm-8 col-xs-12 border border-primary">
                <form class="my-3 p-3" >
                    <div class="mb-3">
                        <input type="text" class="form-control" id="dataB" name="dataB" placeholder="Escribe el concepto" >
                    </div>
                    <div class="mb-3">
                      <p for="dataB" class=" fw-bold">Two way Binding</p>
                      <p></p>
                    </div>
                </form>
            </div>
        </div>
       
    </div>
</div>